<div class="container">
  <h1>
    Calcular promedio y suma de edades
  </h1>

  <div>
	<div class="col-12">
    <h3>Edad Uno:</h3>
  </div><input [(ngModel)]="number1" type="text" name="" placeholder="Ingrese Numero">
  <div class="col-12">
    <h3>Edad Dos:</h3>
  </div><input [(ngModel)]="number2" type="text" name="" placeholder="Ingrese Numero">
  </div>
  <div >

<br>
    <button (click)="calc()" class="button">
      Calcular 
    </button>
    <button (click)="limpiar()"  class="button">
      Limpiar 
    </button>
  </div>
      <h3>Promedio : {{result1}}</h3> 

    
     <h3> Suma : {{result2}}</h3> 

</div>