<div class="container">
  <h1>
    Calcular promedio y suma de edades
  </h1>

  <div>
	<div class="col-12">
    <h3>Ingrese Edad Uno:</h3>
  </div><input [(ngModel)]="miSuma.num1" type="number" name="" >
  <div class="col-12">
    <h3>Ingrese Edad Dos:</h3>
  </div><input [(ngModel)]="miSuma.num2" type="number" name="" >
  </div>
  <div >

<br>
    <button (click)="calc()" class="button">
      Calcular 
    </button>
    <button (click)="limpiar()"  class="button">
      Limpiar 
    </button>
  </div>
      <h3>Promedio : {{miSuma.resultado}}</h3> 

    
     <h3> Suma : {{miSuma.resultado2}}</h3> 

</div>